/* Footer Styles */
.footer {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p,
.footer-section ul {
  margin: 5px 0;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: var(--navbar-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--button-background-hover-color);
}

.footer-section a {
  color: var(--navbar-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: var(--button-background-hover-color);
}

.footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    padding: 10px 0;
    text-align: center;
  }
}