.motorcycles-list-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.motorcycles-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .motorcycles-list-container {}

}