#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}


.APP {
  display: flex;
  background-color: aqua;
}
/**
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
*/